#minio credentials, change to something more secure
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password

#domain or subdomain where you want to access portainer
DOMAIN_HOST=minio.local

#email where you should receive lets encrypt renewal failures
DOMAIN_EMAIL=email@email.com

#what vhost file to use, edit contents to match domain above, example in docker/nginx/custom_dev.conf
VHOST_FILE=custom_dev.conf
